.container{
    display:flex;
    width:600px;
    height: 600px;
    flex-direction: column;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: black;
}

.title{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0;
    margin-bottom:8px;
    padding: 30px;
    color: aqua;
    font-size:30px;
}

.content{
    display: flex;
    gap: 45px;
    
}

.controls{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    
}

.container{
    border: 3px solid gray;
    
    margin: 30px;
}

.content div{
    background-color: #202020;
}

button{
    background-color: #202020;
    color: rgb(62, 166, 255);
    height: 30px;
    width: 150px;
    text-align: center;
    padding: 10px 20px;
    border-radius: 3px;
    border-color: rgb(62, 166, 255);
    font-family: roboto;
    font-weight: 500;
}


.row{
    display: flex;
    flex:1;
    
}

.grid{
    display: flex;
    flex:1;
}